<a href="https://colab.research.google.com/github/Puphat/Query-and-visualize-from-Big-Query/blob/main/SQL_Data_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def bq_run(query_text):
  project_id = 'madt-project'

  client = bigquery.Client(project=project_id)

  df = client.query(query_text).to_dataframe()

  return df

In [ ]:
#อัพเดตยอดขายวันนี้

query_text = '''
                SELECT 
                sum(sales) as Sales,
                FROM `madt-project.madt7101.superstore` 
                WHERE order_date = current_date()
                GROUP BY order_date
             '''
#Create Data Frame
df = bq_run(query_text)
df

      Sales
0  16474.97

In [ ]:
#อัพเดตยอดขายเดือนนี้

query_text = '''
                SELECT  
                sum(Sales) as Sales,
                FROM (SELECT 
                sum(sales) as Sales,
                order_date,
                1 as Index
                FROM `madt-project.madt7101.superstore` 
                WHERE order_date <= current_date AND order_date >= datetime_trunc(current_date, month)
                GROUP BY order_date)
                GROUP BY Index
             '''
#Create Data Frame
df = bq_run(query_text)
df

      Sales
0  335503.2

In [ ]:
#พื้นที่ขายดีที่สุด

query_text = '''
                SELECT region
                FROM (SELECT 
                sum(sales) as Sales,
                region
                FROM `madt-project.madt7101.superstore` 
                GROUP BY region
                ORDER BY Sales DESC
                LIMIT 1)
             '''
#Create Data Frame
df = bq_run(query_text)
df

           region
0  Western Europe

In [ ]:
#ประเภทสินค้าที่ขายดี

query_text = '''
                SELECT sub_category
                FROM (SELECT 
                sum(sales) as Sales,
                sub_category
                FROM `madt-project.madt7101.superstore` 
                GROUP BY sub_category
                ORDER BY Sales DESC
                LIMIT 1)
             '''
#Create Data Frame
df = bq_run(query_text)
df

  sub_category
0       Phones

In [ ]:
#อัพเดทต้นทุนเดือนนี้

query_text = '''
                SELECT  
                sum(cost) as Cost,
                FROM (SELECT 
                sum(cost) as Cost,
                order_date,
                1 as Index
                FROM `madt-project.madt7101.superstore` 
                WHERE order_date <= current_date AND order_date >= datetime_trunc(current_date, month)
                GROUP BY order_date)
                GROUP BY Index
             '''
#Create Data Frame
df = bq_run(query_text)
df

        Cost
0  35799.342

In [ ]:
#พื้นที่ที่มีต้นทุนของสินค้าสูงที่สุด

query_text = '''
                SELECT region
                FROM (SELECT 
                sum(cost) as Cost,
                region
                FROM `madt-project.madt7101.superstore` 
                GROUP BY region
                ORDER BY Cost DESC
                LIMIT 1)
             '''
#Create Data Frame
df = bq_run(query_text)
df

           region
0  Western Europe

In [ ]:
#ประเทศที่มีต้นทุนของส่งสินค้าสูงที่สุด

query_text = '''
                SELECT country
                FROM (SELECT 
                sum(cost) as Cost,
                country
                FROM `madt-project.madt7101.superstore` 
                GROUP BY country
                ORDER BY Cost DESC
                LIMIT 1)
             '''
#Create Data Frame
df = bq_run(query_text)
df

         country
0  United States

In [ ]:
#สินค้าที่มีต้นทุนสูงที่สุด

query_text = '''
                SELECT sub_category
                FROM (SELECT 
                sum(cost) as Cost,
                sub_category
                FROM `madt-project.madt7101.superstore` 
                GROUP BY sub_category
                ORDER BY Cost DESC
                LIMIT 1)
             '''
#Create Data Frame
df = bq_run(query_text)
df

  sub_category
0       Phones